/* Base Application Styles */
body {
  color: #fff;
  background: #fff;
}

.rune {
  position: relative;
  background: #b5bcd6;
  margin: 10vh auto;
  width: 1540px;
  height: 830px;
}

.number {
  position: absolute;
  text-align: center;
  width: 1110px;
  height: 660px;
  background: #070707;
  margin: 25px 215px;
}

.number img {
  position: relative;
  border: solid #393939;
  border-width: 29px 44px;
  width: 280px;
  height: 160px;
  display: inline-block;
}

.margin-left1{
  margin-left: 2px;
}
.margin-left100{
  margin-left: 1335px;
}


