.light-column {
  position: absolute;
  height: 710px;
  width: 200px;
  background: #acacac;
  border: solid #020202;
}

.score-board {
  width: 140px;
  height: 69.4px;
  background: #979797;
  border: solid #020202;
  margin-left: 30.3px;
  margin-top: 60.6px;
}

.led-number {
  text-align: center;
  position: relative;
  width: 544px;
  height: 162px;
  background: #acb3cc;
  border: solid #020202;
  margin: 10px auto;
}

.digit-number {
  position: relative;
  background: #020202;
  width: 91px;
  height: 123px;
  margin: 19.5px;
  margin-left: 13px;
  display: inline-block;
}
.margin-left10 {
  margin-left: 13px;
}
